
/*

The CSS in this style tag is based off of Bear Blog's default CSS.

https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css

License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md

*/

@import url("https://fonts.googleapis.com/css2?family=Jacquard+24&family=DotGothic16&display=swap");

:root {

--font-display: "Jacquard 24", serif;
--font-ui: "DotGothic16", sans-serif;

--page-bg: #0e0e0e;
--text-color: #ffffff;
--header-bg: #0e0e0e;
--header-text: #4EEE85;


}

body {

min-height: 100vh;

min-height: 100dvh;

display: flex;

flex-direction: column;

font-family: var(--font-ui);

margin: 0;

padding: 0;

text-align: centre;

background-size: 100% 600px;

word-wrap: break-word;

overflow-wrap: break-word;

font-size: 20px;

line-height: 1.7;

background-color: var(--page-bg);

color: var(--text-color);

}

*,
*::before,
*::after {

cursor: url('https://cdn.cursors-4u.net/previews/my-custom-cursor-afc4a894-32.webp') 32 32, auto !important;

}

main {

flex: 1;

width: 1500px;

max-width: calc(100% - 2em);

margin: 0 auto;

padding: 3em 1em;

background-color: var(--page-bg);

}

h1,

h2,

h3,

h4,

h5,

h6 {

font-family: var(--font-ui);

margin: 0 0 0rem 0;

color: var(--text-color);

line-height: 1.2;

}

h1 {

font-size: 3.052em;

}

h2 {

font-size: 2.441em;

}

h3 {

font-size: 1.953em;

}

h4 {

font-size: 1.563em;

}

h5 {

font-size: 1.25em;

}

strong,

b {

font-weight: 700;

}

a {

color: var(--header-text);

}

a:hover {

color: var(--header-text);

}

p {

margin-bottom: 1em;

}

.prose p {

margin-bottom: 2em;

}

textarea {

width: 100%;

font-size: 16px;

}

input {

font-size: 16px;

}

table {

width: 100%;

}

img {

max-width: 100%;

height: auto;

border-radius: 0px;

}

code {

padding: 2px 5px;

background-color: var(--page-bg);

border-radius: 0px;

}

pre {

padding: 1.5em;

border-radius: 8px;

}

pre > code {

all: unset;

}

blockquote {

border-left: 4px solid var(--header-text);

padding: 0 0 0 20px;

margin: 0;

font-size: 1.333em;

}

hr {

border: none;

border-top: 1px solid var(--header-text);

}

@media (max-width: 720px) {

body {

font-size: 18px;

}

main {

padding: 1em;

}

}

  

.sr-only {

border: 0;

padding: 0;

margin: 0;

position: absolute !important;

height: 1px;

width: 1px;

overflow: hidden;

clip: rect(1px 1px 1px 1px);

clip: rect(1px, 1px, 1px, 1px);

clip-path: inset(50%);

white-space: nowrap;

}

html.dark {

background-color: var(--page-bg);

color: var(--text-color)

}

  

.dark .menu {

background-color: var(--header-bg);

color: var(--text-color)

}

  

.dark .nav-links a:hover,

.dark .nav-links a:focus {

color: var(--header-text)

}

  

.dark a {

color: var(--header-text);

}